<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/animate.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <title>Let's Chatt</title>
</head>

<body>
    <center>
        <h1>Hi gyus</h1>
    </center>
    <div class="container">
        <div class="other">
            <h1>Loading....</h1>
        </div>
        <div class="wrapper">
            <nav class="nav" id="nav">

                <div class="default-nav">

                    <div class="main-nav">
                        <a href="/">
                            <div class="toggle"></div>
                        </a>
                        <div class="main-nav-item"><a class="main-nav-item-link" href="#">Blake</a></div>
                        <div class="options"></div>
                    </div>
                </div>
            </nav>
            <div class="inner" id="inner">
                <div class="content" id="content"></div>
            </div>
            <div class="bottom" id="bottom">
                <textarea class="input" id="input"></textarea>
                <div class="send" id="send"></div>
            </div>
        </div>

        <div class="other-1">
            <h1>Loading...</h1>
        </div>
    </div>
    <script src="../static/js/index.js"></script>
    <script src="../static/js/socket.js"></script>
</body>

</html>